<html>
  <head>
    <title>mah blog</title>
  </head>
  <body>
    <h1>this line is extra important</h1>
    <h2>this line is also important but not as important</h2>
    <h5>this one's alright too i guess</h5>
    <h3>but look at this oneee</h3>
    <p>paragraphparagraphparagraph<em>paragraph</em>paragraph</p>
    <p><strong>stronger</strong>paragraphhhhhhhhhh<br>HHHHHHHHHHHHHHHHH</p>
    <a href="http://youtube.com">this is youtube</a>
    <div>
      <p> a new division</p>
    </div>
  </body>
</html>
